<<<<<<< HEAD
body{
    background-color: #102542;
    color:white;
    font-family: sans-serif;
}


.contenedor{
    background-color: white;
    width: 600px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
}

.contenedor h1{
    margin-top: 0;
    font-size:42px ;
    color: #8b621c;
    text-transform: uppercase;
    font-weight: bolder;
}

.contenedor h2{
    color: #ff5722;
    margin-bottom: 0;
    font-size: 30px;
    text-transform: uppercase;
}

.contenedor p{
    color: #102542;
    font-size: 24px;
    
}

.contenedor button{
    background-color: #ff5722;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.contenedor button:hover{
    background-color: #832c12;
}
=======
body{
    background-color: #102542;
    color:white;
    font-family: sans-serif;
}


.contenedor{
    background-color: white;
    width: 600px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
}

.contenedor h1{
    margin-top: 0;
    font-size:42px ;
    color: #8b621c;
    text-transform: uppercase;
    font-weight: bolder;
}

.contenedor h2{
    color: #ff5722;
    margin-bottom: 0;
    font-size: 30px;
    text-transform: uppercase;
}

.contenedor p{
    color: #102542;
    font-size: 24px;
    
}

.contenedor button{
    background-color: #ff5722;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.contenedor button:hover{
    background-color: #832c12;
}
>>>>>>> 4d62a5c9ea4ff51c8b9ae28e81550198db7b0609
